<section class="info">
  {% include "svg/logo.svg" %}

  <p>
    All rights reserved © Equalizer 2021 Have any problems? Contact us via
    social media or email us at <strong>equalizer@example.com</strong>
  </p>
</section>

<nav class="social">
  <ul role="list">
    <li>{% include "svg/icn-fb.svg" %}</li>
    <li>{% include "svg/icn-instagram.svg" %}</li>
    <li>{% include "svg/icn-twitter.svg" %}</li>
  </ul>
</nav>
